body {
    background-color: black;
    color: #FAF9F6;
    font-family: 'Courier New', Courier, monospace;
    padding-left: 10px;
}

h1 {
    font-weight: bold;
}

li {
    padding-left: 30px
}

.names {
    font-size: 10px;
}